<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue Compouted</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        .m_b_48 {
            margin-bottom: 48px;
        }
    </style>
</head>

<body>
    <div id="app">
        <!-- example01 -->
        <div class="m_b_48">
            <p>computed를 이용한 데이터 업데이트</p>
            <input type="text" v-model="num" /><br /> 1부터 입력된 수까지의 합: <span>{{sum}}</span>
        </div>

        <!-- example02-->
        <div class="m_b_48">
            <p>method를 이용한 데이터 업데이트</p>
            <input type="text" v-model="num" /><br /> 1부터 입력된 수까지의 합: <span>{{ fnSum }}</span>
        </div>
    </div>

    <script type="text/javascript">
        var vm = new Vue({
            el: '#app',
            data: {
                num: 0,
                fnSum: 0
            },
            computed: {
                sum: function() {
                    var n = Number(this.num);
                    if (Number.isNaN(n) || n < 1) return 0;
                    return ((1 + n) * n) / 2;
                }
            },
            watch: {
                num: function(val) {
                    var n = Number(val);
                    if (Number.isNaN(n) || n < 1) return 0;
                    this.fnSum = ((1 + n) * n) / 2;
                }
            },
            methods: {
                sumFunc: function() {
                    var n = Number(this.num);
                    if (Number.isNaN(n) || n < 1) return 0;
                    this.fnSum = ((1 + n) * n) / 2;
                }
            },
            created: function() {}
        });
    </script>
</body>

</html>